<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Homepage" , css: "homepage" })%>

  <body>
    <header>
      <h1>Hello</h1>
    </header>

    <main>
      <form action="handleQuery" method="POST">
        <input type="text" name="query" id="query" placeholder="https://www.youtube.com/watch?v=_m9aciePKEk">
        <button type="submit">Open room</button>
      </form>
    </main>
  </body>
</html>