<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Player" , css: 'player' })%>

  <body>
    <header>
      <h1>Player</h1>
    </header>

    <div>
      <main id=<%= prep %>>
        <div id="player"></div>
      </main>
  
      <aside>
        <form>
          <div>
            <fieldset>Chat</fieldset>
            <ol></ol>
          </div>
          <div>
            <input type="text" name="name" id="name">
            <input type="text" name="message" id="message">
            <button type="submit">Send</button>
          </div>
        </form>
      </aside>
    </div>

    <section>
      <h2>Related videos</h2>
      <div>
        
      </div>
    </section>

  </body>

  <script src="/scripts/player.js"></script>
  <script async src="/scripts/chat.js"></script>
  <script async src="/scripts/related.js"></script>

</html>