:root {
  --bg-color: #0C0C0D;
  --pane-color: #1C1D20;
  --pane-color-light: #1C1D2099;
  --red: #FF0000;
  --bright-red: #F23545;
  --cyan: #63F2A1;
  --transition-speed: .3s
}

body {
  background-color: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white
}

main span {
  font-size: 2.4em;
}

main h1 {
  margin-top: 0;
}

main i {
  margin-bottom: 10%;
}

form fieldset {
  padding: 0;
  border: 0;
  margin-bottom: .8rem;
  font-size: .9rem;
  color: grey
}

form input {
  border: none;
  width: 300px;
  background-color: var(--pane-color);
  padding: 20px 20px;
  border-radius: 20px;
  transition: var(--transition-speed);
  color: white;
}

form input[type="text"]:focus,
form input[type="text"]:active,
form input[type="text"]:hover {
  outline: none;
  background-color: var(--pane-color-light);
  padding: 20px 30px;
}

form button {
  border: none;
  padding: 20px 20px;
  background-color: var(--bright-red);
  color: white;
  border-radius: 20px;
  transition: var(--transition-speed);
}

form button:hover,
form button:active,
form button:focus {
  outline: none;
  cursor: pointer;
  background-color: var(--red);
}