:root {
  --bg-color: #0C0C0D;
  --pane-color: #1C1D20;
  --pane-color-light: #1C1D2099;
  --red: #FF0000;
  --bright-red: #F23545;
  --cyan: #63F2A1;
  --transition-speed: .3s
}

body {
  margin: 0 auto;
  width: clamp(20rem, 70vw, 80rem);
  background-color: var(--bg-color);
  color: white;
}

body>div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

main iframe {
  border-radius: 30px;
}

aside form {
  margin-left: 20px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--pane-color);
  padding: 20px;
  border-radius: 30px;
}

form input {
  border: none;
  background-color: var(--bg-color);
  padding: 20px 20px;
  border-radius: 20px;
  transition: var(--transition-speed);
  color: white;
}

form input:focus,
form input:active,
form input:hover {
  outline: none;
  padding: 20px 30px;
}

form input:nth-of-type(1){
  width: 5rem
}

form div:nth-of-type(2){
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

form button {
  border: none;
  padding: 20px 20px;
  background-color: var(--bright-red);
  color: white;
  border-radius: 20px;
  transition: var(--transition-speed);
}

form button:hover,
form button:active,
form button:focus {
  outline: none;
  cursor: pointer;
  background-color: var(--red);
}

aside form fieldset {
  border: none;
  font-size: 1.8rem;
}

aside {
  width: 100%;
}

/* 
  RELATED SECTION
*/
section {
  margin: 0 auto;
  /* width: 100%; */
}

article {
  max-height: 200px;
  margin-bottom: 20px;
}

article a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: inherit;
  max-width: 100%;
}

article a>div {
  max-width: 50%;
}

article a img {
  max-height: 200px;
}


@media only screen and (max-width: 1500px) {
  body {
    /* margin: 0 auto; */
    width: clamp(20rem, 80vw, 80rem);
  }

  
  body>div {
    width: 100%;
    /* width: clamp(20rem, 90vw, 90rem); */
    flex-direction: column;
  }

  main iframe {
    width: 100%;
  }

  aside form {
    margin-left: 0px;
    /* width: 50%; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}